<table class="table">
    <thead>
        <tr>
            <th>Logo</th>
            <th>Nombre de producto</th>
            <th>Descripción</th>
            <th>Fecha de liberación</th>
            <th>Fecha de reestructuración</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @for (product of products; track product.id) {
        <tr>
            <td>{{product.logo}}</td>
            <td>{{product.name}}</td>
            <td>{{product.description}}</td>
            <td>{{product.date_release}}</td>
            <td>{{product.date_revision}}</td>
            <td>
                <!-- <div class="dropdown">
                    <button class="dropbtn">Acciones</button>
                    <div class="dropdown-content">
                        <a (click)="editProduct(product)">Editar</a>
                        <a (click)="deleteProduct(product.id)">Eliminar</a>
                    </div>
                </div> -->

                <app-dropdown-custom [items]="itemsDropdown" [data]="product"></app-dropdown-custom>
            </td>
        </tr>

        } @empty {
        <p id="emptyMessage">There are no products.</p>
        }
    </tbody>
    <tfoot>5 en total</tfoot>
</table>

<app-form-product></app-form-product>