<table class="table">
    <thead>
        <tr>
            <th>Logo</th>
            <th>Nombre de producto</th>
            <th>Descripción</th>
            <th>Fecha de liberación</th>
            <th>Fecha de reestructuración</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @for (product of products; track product.id) {
        <tr>
            <td>{{product.logo}}</td>
            <td>{{product.name}}</td>
            <td>{{product.description}}</td>
            <td>{{product.date_release | date}}</td>
            <td>{{product.date_revision | date}}</td>
            <td>
                <app-dropdown-custom [items]="itemsDropdown" [data]="product"></app-dropdown-custom>
            </td>
        </tr>

        } @empty {
        <p id="emptyMessage">There are no products.</p>
        }
    </tbody>
    <tfoot>{{products?.length}}</tfoot>
</table>
