<div class="form">
    <label for="id">ID</label>
    <input type="text" id="id">

    <label for="name">Nombre</label>
    <input type="text" id="name">

    <label for="description">Descripción</label>
    <input type="text" id="description">

    <label for="logo">Logo</label>
    <input type="text" id="logo">

    <label for="date_release">Fecha Liberación</label>
    <input type="text" id="date_release">

    <label for="date_revision"></label>
    <input type="text" id="date_revision">
</div>