
form {

    display: grid;
    grid-template-columns: 1fr 1fr;

    .input-item {
        label {
            display: block;
        }
        input {
            width: 90%;
        }
    }

}

.wrong-input {
    border-color: red;
}