<div class="form">
    <form action="" [formGroup]="form" (ngSubmit)="onSubmit()">
        <label for="id">ID</label>
        <input type="text" id="id" formControlName="id">

        <label for="name">Nombre</label>
        <input type="text" id="name" formControlName="name">

        <label for="description">Descripción</label>
        <input type="text" id="description" formControlName="description">

        <label for="logo">Logo</label>
        <input type="text" id="logo" formControlName="logo">

        <label for="date_release">Fecha Liberación</label>
        <input type="date" id="date_release" formControlName="date_release">

        <label for="date_revision"></label>
        <input type="date" id="date_revision" formControlName="date_revision">

        <button class="btn-submit" type="submit" [disabled]="form.invalid">
            Enviar
        </button>

        <button class="btn-reset" [disabled]="form.invalid" (click)="onReset()">
            Reiniciar
        </button>

    </form>
</div>